element.style {
    color: white;
    font-size: 12px;
    text-align: left;
    margin: 5px;
    --hover-color: blue;
    border: none;
    background-color: rgb(129, 182, 34);
}

element.style {
    background-color: #0d6efd;
    border-radius: 10px;
    box-shadow: 2px 2px 7px -2px rgba(36, 2, 2, 0.75);
}

.st-emotion-cache-1jicfl2 {
    width: 100%;
    padding: 4rem 1rem 6rem;
    min-width: auto;
    max-width: initial;
}

.st-emotion-cache-6qob1r {
    background: #023047;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: overlay;
}
.st-emotion-cache-ztfqz8 {

  
    background: white;
}
.st-emotion-cache-iiif1v {
 
    background: black;
}

.st-emotion-cache-r421ms {
    border: 1px solid rgba(49, 51, 63, 0.2);
    border-radius: 0.5rem;
    padding: calc(1em - 1px);
    background: #e3f2fd;
    box-shadow: 2px 2px 7px -2px rgba(36, 2, 2, 0.75);
}

.st-b9 {
    border-width: thin;
    padding-right: 0px;
    border-color: rgb(163 168 184 / 74%);
}

.st-emotion-cache-1gulkj5 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 1rem;
    background: #e3f2fd;
    border-radius: 0.5rem;
    color: rgb(49, 51, 63);
}

.st-emotion-cache-7ym5gk {

    user-select: none;
    background-color: #0d6efd;
    border: 1px solid rgba(49, 51, 63, 0.2);
}

.st-emotion-cache-j6qv4b p {
 
    color: white;
}

.st-emotion-cache-7ym5gk {

    color: white;
}
